body {
    background-color: #646464;
}

.containers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 300px);
}



.vid {
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 185);
}

#videos {
    border: 1px solid rgb(149, 151, 155);

}

.settings {
    background-color: #4CAF50;
    border: none;
    
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.col-md-2 {
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
}

.live__scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: normal;
}

.live__scroll .row {
    display: block;
}

.live__scroll .live__scroll--box {
    display: inline-block;
    float: none;
    padding: 15px;
    /* border: 1px solid red; */
}

#scrollb {
    overflow-x: visible;
    overflow-y: hidden;
    white-space: normal;
}

::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(87, 84, 84, 0.877);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #747070;
}

